/* Styles go here */
body {
  background-color: #63CEC2;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin-top: 50px;
  padding-top: 15px;
  text-align: center;
  color: #CCC;
  text-transform: uppercase;
  font-weight: normal;
}
h3 {
  color: #CCC;
  text-align: center;
  font-weight: normal;
}
h5 {
  color: #CCC;

}

p{
  text-align: center;
  color: #CCC;
  font-size: 50%;
  margin-top: 40px;
}

.formContainer{
  margin: 0 auto;
  width: 40%;
  height: 250px;
  background-color: rgba(67,75,89,0.7);
  border-radius: 10px;
}
.profileContainer{
  margin: 0 auto;
  width: 50%;
  height: 350px;
  background-color: rgba(67,75,89,0.7);
  border-radius: 10px;
}

input {
  display: block;
  width: 80%;
  height: 15px;
  border-radius: 10px;
  margin: 10px auto;
}

button {
  display: block;
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  color: #F7F8F9;
  height: 25px;
    text-transform: uppercase;
}

button:hover {
  color: #63CEC2;
}

a:hover {
  color: #63CEC2;
}

.secondContainer{
  width: 40%;
  height: 140px;


}

.userInfo{
  float:right;
  width: 30%;
  margin-left: 60%;

}
.imageContainer{
  float: left;

  /*width: 50%;*/
}

.clear{
  clear: both;

}

.profile {
  color: #CCC;
  text-align: center;
  margin-top: 5px;

}

#imageID{
  width: 100%;
  margin-left:5%;
  border-radius: 10px;
  float: left;
}

.profileClass {
  margin: 0px auto;
  text-align: center;
}

.profileText{
  color: #CCC;
  font-size: 80%;
  margin: 2px;
  text-align: left;

}
