<!-- This is the profile page partial. Add HTML here. -->

<div class="profileContainer">

<h2>Profile</h2>
<h3>Welcome, {{userDetails.name}}!</h3>
<div class="imageContainer">
<img id="imageID" src="images/taylorswift.jpg" alt="">

<div class="userInfo">

<p class="profileText">Email:{{userDetails.email}}</p>

<p class="profileText">Phone Number{{userDetails.phone}}</p>

<p class="profileText">Location: {{userDetails.location}}</p>
</div>
</div>
<div class="profileClass">

<a class="profile" href="#">Edit Profile</a>
</div>
</div>
